<head>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<header>
    <h1>RetroBlog</h1>
    <nav>
        <a href="/">Inicio</a>
        <a href="#ordenadores">Ordenadores</a>
        <a href="#consolas">Consolas</a>
        <a href="#videojuegos">Videojuegos</a>
    </nav>
</header>
